<div data-role="page">
  <div data-role="header">
      <h1>Scavenge</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </div><!-- /header -->
  <div data-role="content">