h1 {margin:0 0 1em; font-size:24px;}
table {width:auto; margin:20px -16px;}
th {color:#fff; background-color:#000; text-shadow:none;}
th, td {margin:0; padding:5px 8px 3px; border:none;}

.ui-content .ui-listview {margin-bottom:0;}

#leader_board {clear:both; margin:20px 0;}


.even { background:#eee;}